body {
  font-family: "Maven Pro";
}
h1.title {
  display: none;
}

.card{
  background-color: #1f2123;
  border: 5px solid #1f2123!important;
  margin-bottom: 20px;
}

.wave-corner{
  position:absolute;
  right:0;
  bottom:0;
  pointer-events: none;
}

#page {
  -webkit-transition:all 1s ease-in;
  -moz-transition:all 1s ease-in;
  -o-transition:all 1s ease-in;
  -ms-transition:all 1s ease-in;
  transition:all 1s ease-in;
  background-repeat: no-repeat;
  background-position: center 75%;
  background-attachment: scroll;
  background-size: cover;
}

#page::before{
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#1f2123,#5c8b22ed);
  opacity: 0.96;
}

.landing_headers {
  background-color: #1f212369;
}

.landing_headers img {
  width: 100%!important;
}

.card-header h1 {
  color: #9da3a7;
  text-align: left;
  font-size: x-large;
  font-weight: 100!important;
  padding-bottom: 10px;
}

.site-footer {
  padding: 0px !important; 
}

div.dataTables_filter {
  float: right;
}

div.dataTables_wrapper div.dataTables_filter input {
  background-color: #1e2022;
}

.page-item.disabled .page-link {
  background-color: unset !important;
  border-color: #607d8b !important;
  color: #607d8b !important;
}

.pagination>li>a, .pagination>li>span {
  color: #86e516!important;
  background-color: unset !important;
  border-color: #607d8b !important;
}

.page-item.active .page-link {
  color: #fff !important;
  background-color: #5b8b22 !important;
  border-color: #5b8b22 !important;
}
#btn-ACP-collapse-IUCN-Cats{

  background: #353a3e;
  
  color: white;
  
  border-radius: 0px!important;
  
  margin-bottom: 5px;
  
  }
  
  
  
  #btn-ACP-collapse-governance-types{
  
  background: #353a3e;
  
  color: white;
  
  border-radius: 0px!important;
  
  margin-bottom: 5px;
  
  }
  
  #btn-ACP-collapse-designations{
  
  background: #353a3e;
  
  color: white;
  
  border-radius: 0px!important;
  
  margin-bottom: 5px;
  
  }

  .btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #353a3e!important;
    border-color: #353a3e!important;
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0.5)!important;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #353a3e!important;
  border-color: #353a3e!important;
}
btn-outline-success.focus, .btn-outline-success:focus {
  box-shadow: 0 0 0 0.rem rgb(40 167 69 / 50%)!important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0px auto -webkit-focus-ring-color!important;
  /* outline-offset: -2px; */
}
.btn-outline-success.focus, .btn-outline-success:focus {
  box-shadow: 0 0 0 0.1rem rgb(69 78 85)!important;
}

a {
  color: #5b8b22!important;
  text-decoration: none;
}