/* CSS Fixes */


#btn-ACP-collapse-IUCN-Cats{

  background: #353a3e;
  
  color: white;
  
  border-radius: 0px!important;
  
  margin-bottom: 5px;
  
  }
  
  
  
  #btn-ACP-collapse-governance-types{
  
  background: #353a3e;
  
  color: white;
  
  border-radius: 0px!important;
  
  margin-bottom: 5px;
  
  }
  
  #btn-ACP-collapse-designations{
  
  background: #353a3e;
  
  color: white;
  
  border-radius: 0px!important;
  
  margin-bottom: 5px;
  
  }

body{
    background: #fdfdff!important;
}

.container-fluid , .col-auto, .col{
    padding-right: 0!important;
    padding-left: 0!important;
 }

section, .site-footer, .site-footer__bottom .content, .site-footer__bottom .block, .site-footer__bottom {
	padding-top:0px!important;
	padding-bottom:0px!important;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	border:0px!important;
}

.toolbar-icons-right {
    right: 280px!important;
}

.landing_headers{
  text-transform: none;
  color:white;
}

.biopama_d-card-img img {
  /*height: -webkit-fill-available;
  height:fill-available;*/
  height:70px;
}

h5, .heading-e {
    margin: 0em 0 0.5em!important;
    text-transform: none!important;
}

#landing_top_cards .view-content{
   height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing_top_cards .view-content .views-row{
  padding-right:1rem;
}

.masthead-img {
    z-index: 1;
    background-image: url(../images/bkgd_000.jpg);
    background-repeat: no-repeat;
    background-position: center 75%;
    background-attachment: scroll;
    background-size: cover;
}

#bkgd-linear, #bkgd-img, #bkgd-filter {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    top: 0;
    /* min-height: 900px; */
}

#views-live-preview #bkgd-linear, #views-live-preview #bkgd-img, #views-live-preview #bkgd-filter {
    position: absolute !important;/*Fix to show templat in admin section*/
}

.masthead {
  /*background-image: none;*/
  background-color: #09312e;
  background-blend-mode: saturation;
}

.row.icons-rows{
  width:100%;
}

.mobile-view {
  display:none;
}

.col-3.header-text .view-content{
  padding: 10px;
}

.field--name-field-dashboard-subtitle{
    font-variant: small-caps;
    font-size: x-large;
    color: #8fbf4b;
    font-weight: 900;
    font-family: "Maven Pro";
}

.field--name-field-dashboard-link, .field--name-field-dashboard-link:hover{
  text-decoration: none;
}

.field--name-field-dashboard-link a{
    color: white!important;
    background-color: #8fbf4b;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.field--name-field-dashboard-link:hover a{
  text-decoration: none;
}

.landing_headers img{
  width:100%!important;
}

@media (max-width:992px) {
  .col-3, .col-9 {
     width: 100%!important;
    max-width: 100%!important;
    flex: none!important;
  }

  #bkgd-linear, #bkgd-img, #bkgd-filter {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    min-height: 900px;
  }

  header.masthead {
    height:auto!important;
  }

  .header-table-cards {
    min-height: unset;
  }

  .no-mobile {
    display:none;
  }

  .mobile-view {
    display:block!important;
  }

  .header-table-cards .card {
    opacity:0.95;
  }

  .biopama_d-card-img{
    width: 60%;
    display: inline-block;
    position: absolute;
    opacity: 0.25;
    left: 5px;
    top: 5px;
  }

  .biopama_d-card-img img{
    height:70px!important;
  }

  .col-6.icons-left-col, .col-6.text-right-col{
    max-width: 100%;
    flex: unset;
    width: 100%;
  }

  .wave-corner {
    position: relative;
    text-align: right;
  }

}

@media (max-width:1400px) {

	.icons-left-col {
	    text-align: center;
	    padding-left: unset!important;
	}

	.landing_headers {
	    width: 100%;
	    padding-bottom: 20px;
	}

}


.relativeICons {
    float: left;
    width: auto;
    position: relative!important;
    left: 0px;
    top: unset!important;
    z-index: 0!important;
} 