{% set url = current_uri %}
{{ attach_library( 'biopama_dashboards/biopama_dashboards' ) }}
{{ attach_library( 'biopama_dashboards/page_managements' ) }}
{{ attach_library( 'biopama_dashboards/page_resources' ) }}
{{ attach_library( 'biopama_dashboards/biopama_dashboards_maps_page' ) }}

<header class="masthead text-left">

  <div id="bkgd-linear" class="masthead-linear"></div>

  <div id="bkgd-img" class="masthead-img" style="display:none;"></div>

      <div class="masthead-content">

        <div class="row">

          <div class="col-lg-2 header-text">
            <div class="container landing_headers">
            <h5>PAGE Dashboard</h5>
            <img src="{{ image_path }}divider_02.png"/>
                <ul class="list-group page-links">
                  <li class="page-menu-left">
                    <a href="/BPMLP_page_page">
                      <div class="row">
                       <div class="col-4"><img src="{{ image_path }}page/page_home.png"/></div>
                       <div class="col-8">PAGE Home</div>
                      </div>
                    </a>
                  </li>
                  <div class="contextual-region">{{ title_suffix }}
                        {{ drupal_view('biopama_dashboards_page', 'block_3') }}
                  </div>
                </ul>
            </div>
          </div>
          <div class="col-lg-10 header-table-cards">

             <div id="spinner">
                  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
                  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
                  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
              </div>
			  <h2 class="page-resources-header-title">Management Plans
          <a href="/node/add/management_assessment_justificat?TypeID=335"  class="use-ajax add-policy fancy_login_show_popup btn btn-primary" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
            <i class="fas fa-plus"></i> Add a Management Plan
          </a>
        </h2>
        <div id="page_managements_filters">
						{{ drupal_block('views_exposed_filter_block:gd_page_management_plans-block_2', wrapper=false) }}
        </div>

				<div id="page_assessments_map"></div>
			  
			  {{ drupal_view('gd_page_management_plans', 'block_2') }} 

          </div>

        </div>

  </div>
  <div class="wave-corner">
    <img src="{{ image_path }}color_wave.png"/>
  </div>
 </header>


<button id="myBtn_scrollTop" title="Go to top"><i class="fas fa-arrow-up fa-2x"></i></button>

